<h1>Clubs</h2>

<p>
If you'd like to add your club or correct errors listed here the please contact
the <a href="mailto:webmaster@unicycle.org.uk">webmaster</a>.
</p>

{% comment %} FIXME: Have nice google maps widget showing locations {% endcomment %}
{% assign sorted_clubs = site.data.clubs | sort:"name" %}
{% for club in sorted_clubs %}
<h2>
  <a name="{{club.name | uri_escape}}">{{club.name}}</a>
  <a href="#{{club.name|uri_escape}}">&#x1f517;</a>
</h2>
<p><b>Address:</b> <a href="https://maps.google.co.uk/?q={{club.latitude}},{{club.longitude}}">{{club.address}}</a></p>
  {% if club.website %}
    <p><b>Website:</b> <a href="{{club.website}}">{{club.website}}</a></p>
  {% endif %}
  {% if club.contact.email %}
    <p><b>Email:</b> <a href="mailto:{{club.contact.email}}">{{club.contact.email}}</a></p>
  {% endif %}
  {% if club.contact.phone %}
    <p><b>Phone:</b> {{club.contact.phone}}</p>
  {% endif %}
  <p>
    {{ club.text | markdownify }}
  </p>
{% endfor %}
