<section>
    {% if include.link %}
    <a href="{{ include.link }}" class="image">
    {% endif %}
        <img src="{{ include.image }}" alt="" data-position="center center" />
    {% if include.link %}
    </a>
    {% endif %}
    <div class="content">
        <div class="inner">
            <header class="major">
                <h3>{{ include.title }}</h3>
            </header>
            <p>{{ include.content }}</p>
            {% if include.link %}
            <ul class="actions">
                <li><a href="{{ include.link }}" class="button">{{ include.linktext }}</a></li>
            </ul>
            {% endif %}

        </div>
    </div>
</section>
