---
layout: null
---
body
{
  background: white;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}

h1
{
  margin: 20px 0px 0px 0px;
}


p
{
  margin: 5px 0px 5px 0px;
}

#container
{
  width: auto;
  margin: 0px;
  padding: 0px;
}

#uuu_logo
{
  position: relative;
  margin: 10px auto 0px auto;
  width: 800px;
  height: 160px;
}

#social_container
{
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 0px;
  margin-right:5px;
}

/* IE: Hide borders around linked images */
#social_container a img
{
  border: none;
}


#bottom_bar
{
  width:100%;
  min-width:1024px;
  height:35px;
  display:block;
  margin:0px;

  /*Made by http://www.colorzilla.com/gradient-editor/ */
  background: rgb(9,39,166); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA5MjdhNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNTE5NTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(9,39,166,1) 0%, rgba(5,25,86,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(9,39,166,1)), color-stop(100%,rgba(5,25,86,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(9,39,166,1) 0%,rgba(5,25,86,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(9,39,166,1) 0%,rgba(5,25,86,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(9,39,166,1) 0%,rgba(5,25,86,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(9,39,166,1) 0%,rgba(5,25,86,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0927a6', endColorstr='#051956',GradientType=0 ); /* IE6-8 */
}

nav
{
  display:block;
  margin: 0px;
  height:35px;
  width: auto;
  min-width:1024px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 11.5pt;
}

#top_level_nav
{
  width: 1024px;
  padding: 0px;
}

nav li, nav a
{
  color: white;
  text-decoration: none;
  outline: 0;
}

/* share backgrounds so bar adapts to screen size */
nav, #top_level_nav
{
  /* background: red; */
background: rgb(255,0,0); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1OTAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(89,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,0,0,1)), color-stop(100%,rgba(89,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,0,0,1) 0%,rgba(89,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,0,0,1) 0%,rgba(89,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,0,0,1) 0%,rgba(89,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,0,0,1) 0%,rgba(89,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#590000',GradientType=0 ); /* IE6-8 */
}

.bottom_level_nav, .bottom_level_nav ul
{
  background: transparent;
}

#top_level_nav, #top_level_nav ul
{
  list-style: none;
  display: table;
  margin: auto;
}

#top_level_nav a
{
  display:block;
  text-align:center;
}


#top_level_nav li
{
  display: table-cell;
  padding: 0px 25px 0px 25px;
  line-height: 35px;
  height:35px;
  text-align:center;
}

.clickable_button
{
  cursor: pointer;
}

.bottom_level_nav
{
  position: absolute;
  left:0px;
  right:0px;
  height:35px;
  width:auto;
  min-width:1024px;
  display:none;
}

.bottom_level_nav ul
{
  margin: auto;
}



#content
{
  padding-top: 1ex;
  margin: auto;
  color: black;
  max-width: 1024px;
}

#content a:link, #content a:visited
{
  color: black;
  text-decoration: underline;
}

#content a:hover
{
  color: red;
  text-decoration: none;
}

.top_level_selected, #top_level_nav > li:hover ,
.bot_level_selected, .bottom_level_nav > ul > li:hover
{
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

.top_level_selected, .no-js #top_level_nav > li:hover
{
  background: rgb(72,82,150); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top, rgba(72,82,150,1) 0%, rgba(9,39,166,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(72,82,150,1)), color-stop(100%,rgba(9,39,166,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(72,82,150,1) 0%,rgba(9,39,166,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(72,82,150,1) 0%,rgba(9,39,166,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(72,82,150,1) 0%,rgba(9,39,166,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(72,82,150,1) 0%,rgba(9,39,166,1) 100%); /* W3C */
}

/* IE9 cannot mix gradients and rounded corners, so have solid colour
   to allow rounded corners to be shown.
*/
.ie9 .top_level_selected, .ie9 .no-js #top_level_nav > li:hover
{
  background: rgb(9,39,166);
}

/* < IE9 doesn't support rounded corners so use gradient */
.ie8 .top_level_selected, .ie8 .no-js #top_level_nav > li:hover ,
.lte-ie7 .top_level_selected, .lte-ie7 .no-js #top_level_nav > li:hover
{
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4NTI5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwOTI3YTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#485296', endColorstr='#0927a6',GradientType=0 ); /* IE6-8 */
}

/* For javascript menu only */
.top_level_hover
{
  background: #580000;
}

/* For javascript menu only */
.bot_level_hover
{
  background: #4A7FB3;
}

.bot_level_selected, .no-js .bottom_level_nav > ul > li:hover
{
  background: #0B0B61;
}

#noscript_msg
{
  margin:auto;
  text-align:center;
  font-size:120%;
}

footer
{
  position: relative;
  top:35px;
  margin: auto;
  font-size:11pt;
  text-align:center;
}

/* This makes the menu sort of work when javascript is disabled */
.no-js nav > ul > li:hover div.bottom_level_nav
{
  display:block;
}

/* Below are the IE7,IE6 hacks --yuck! */

/* Table-cell & table not supported use, floats instead */
.lte-ie7 #top_level_nav li
{
  float: left;
}

.lte-ie7 #top_level_nav, .lte-ie7 #top_level_nav ul
{
  display: block;
}

/* This is a horrible fragile hack.
The bottom bar doesn't seem to be in the right position
so we move it down a bit.
*/
.lte-ie7 .bottom_level_nav
{
  margin-top:27px; 
}
